# Created by .ignore support plugin (hsz.mobi)
.idea/
lib/
# front-end
front-end/front-end.iml
front-end/node_modules

# back-end
back-end/back-end.iml

yarn.lock






front-end/coverage

# production
front-end/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*


