
.App {
    background-color: bisque;
    height: 100vh;
}


.WorkingArea {
    display: flex;
    height: 100vh;
    background-color: #c5acff;

}
.LeftArea{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}

.UpcomingTravelsList {
    width: 20%;
    background-color: #97ff95;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;

}

.AddPassenger {
    width: 80%;
    background-color: #ff9dac;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow-y: scroll;

}
.AddNewDate{
    display: flex;
    align-items: center;
    justify-content: center;
}