
.App {
    height: 100vh;
}


.WorkingArea {
    display: flex;
    height: 100vh;

}
.LeftArea{
    display: flex;
    background-color: #66ff7c;
    width: 20%;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}

.UpcomingTravelsList {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;

}

.AddPassenger {
    width: 80%;
    background-color: rgba(55, 60, 255, 0.74);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow-y: scroll;

}
.AddNewDate{
    display: flex;
    align-items: center;
    justify-content: center;
}