
.App {
    background-color: bisque;
    height: 100vh;
}


.WorkingArea {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #c5acff;

}

.UpcomingTravelsList {
    width: 20%;
    background-color: #97ff95;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow-y: scroll;

}

.AddPassenger {
    width: 80%;
    background-color: #ff9dac;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.AddNewDate{
    display: flex;
    align-items: center;
    justify-content: center;
}